@import '../../config/styles/variables.scss';
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: $gutter;
  padding-left: $gutter;
  position: fixed;
  width: 100%;
}

.buttons {
  Button {
    width: 100px;
  }

  Button:not(:first-child) {
    margin-left: 3rem;
  }
}

// .nav {
//   background-color: transparent !important;
// }

// .menuButton {
//     margin-right: theme.spacing(2),
// }

// .title {
//   flex-grow: 1;
// }